 *{
 margin: 0;
 padding: 0;
 }
 .container {
 height: 100%;
 display: flex;
 }
 .left {
 flex: 10%;
 width: 27%;
 background-color: #e35969;
 position: fixed; 
 top: 0; 
 bottom: 0; 
 overflow-y:auto;
 
 }
 .left::-webkit-scrollbar{
    width: 5px;
 }
 .left::webkit-scrollbar-track{
    background:red;
 }



 .right {
 flex: 90%;
 
 margin-left: 35%;
 }
 body {
 background: #f8f8f9;
 
 margin: 0;
 font-family: Arial, sans-serif; 
 }
 .image {
 margin: 70px;
 border-radius: 50%;
 height: 150px;
 margin-bottom: 50px;
 margin-top: 100px;
 margin-left: 100px;
 }
 .links {
 padding: 20px;
 margin-left: 50px;
 color: aliceblue;
 text-decoration: none;
 font-size: xx-large;
 display: block;
 }
 
 </style>